<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>app/GS</title>
  </head>
  <body>
   <!--contact us form-->
   <div class="container-fluid">
     <div class="row">
       <div class="header">
          <h3 class="h3-responsive">This is the Cover title</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae repellendus quis quibusdam commodi harum optio doloremque deleniti assumenda soluta reiciendis atque, distinctio libero error cupiditate temporibus. Cum rem nihil ipsam.</p>
       </div>
     </div>
    </div>
    <div class="container-fluid " id="cards">
        <div class="row">
            <div class="col-md-4">
               <div class="card" style="width: 18rem;">
                   <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsCzB9BzqxTTjf5NCkrMrZON3yHbk7MRDZfEpDHozPS60B03aR" alt="Card image cap">
                   <div class="card-body">
                     <h5 class="card-title">Sales Enquiry</h5>
                     <p class="card-text">All your sales related Queriries, Feel free to reach us .</p>
                     <a href="_blank" class="btn btn-danger">Submit your query</a>
                   <!--popup-->
                  
                   <!--/popup/-->
                    </div>
                 </div>
            </div>
            <div class="col-md-4">
               <div class="card" style="width: 18rem;">
                   <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsCzB9BzqxTTjf5NCkrMrZON3yHbk7MRDZfEpDHozPS60B03aR" alt="Card image cap">
                   <div class="card-body">
                     <h5 class="card-title">Write to us / Feedback</h5>
                     <p class="card-text">Your feedback is valuable to us, Submit here.</p>
                     <a href="_blank" class="btn btn-success">Feedback form </a>
                   </div>
                 </div>
            </div>
            <div class="col-md-4">
               <div class="card" style="width: 18rem;">
                   <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsCzB9BzqxTTjf5NCkrMrZON3yHbk7MRDZfEpDHozPS60B03aR" alt="Card image cap" height>
                   <div class="card-body">
                     <h5 class="card-title">Talk with us, Live</h5>
                     <p class="card-text">Live Chat link here, Click the button </p>
                     <a href="_blank" class="btn btn-danger">Live Chat</a>
                   </div>
                 </div>
            </div>
          </div>
    </div>

     <div class="container-fluid " >
        <div class="row" id="map">
            <div class="mapouter"><div class="gmap_canvas"><iframe width="1080" height="429" id="gmap_canvas" src="https://maps.google.com/maps?q=nyc&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div><a href="https://www.crocothemes.net">wordpress themes</a><style>.mapouter{overflow:hidden;height:429px;width:1080px;}.gmap_canvas {background:none!important;height:auto;width:1080px;}</style></div>
         </div>
     </div>
     
    
  
   
   <!-- /contact us form / -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>