<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <!-- Image and text -->
    <header>
        <nav class="navbar justify-content-center">
            <a class="navbar-brand" href="#" style="color:white;">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/SVG_Logo.svg/2000px-SVG_Logo.svg.png" width="30" height="30" class="d-inline-block align-top" alt="nav_image">
              My Application
            </a>
          </nav>
    </header>
    <!-- swapping bs nav-->
    <div class="container-fluid" id="nav-description">
    <p>
      this field contains the description of the the below howered field
    </p>
    </div>
  
    <div class ="container-fluid" id="nav-second">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link " routerLink="/app-getting-started">Getting Started</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " routerLink="/app-all-about">All about</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " routerLink="/app-about">About</a>
        </li>
       <li class="nav-item">
            <a class="nav-link " routerLink="/app-contact-us">Contact us</a>
       </li>
        
      </ul>
    </div>
          <!-- swapping Bs nav-->
    <!-- progress bar -->
    <div class="progress" style="height: 10px;">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <!-- / progress bar / -->
    <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3" id = "first-container">
              Keep it untouched
            </div>
            <div class="col-lg-9" id="second-container">
              <router-outlet></router-outlet>
            </div>
          </div>
      </div>
     
      

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>